---
layout: layouts/default
tags: [pages]
title: Blog
date: 2015-02-01
---

<section class="container page-container">
    <h1 class="blog-title">Blog</h1>
    <div class="blog">
        {%- for post in collections.blog | reverse %}
            <section class="excerpt">
              <div class="excerpt__image">
                {%if post.data.image %}<a href="{{post.url}}" class="excerpt__image-link"><img src="{{ post.data.image }}"></a>{% endif %}
              </div>
              <header class="excerpt__header">
                <h2 class="excerpt__header-title"><a href="{{post.url}}">{{ post.data.title }}</a></h2>
                  <p class="excerpt__header-brief">{% if post.data.brief %} {{post.data.brief}} {% endif %}</p>
                  <div class="excerpt__header-meta">{{post.data.category}} &bull; am {{ post.data.date | regularDate }} von {{ post.data.author.name.first}}</div>
              </header>
            </section>
        {%- endfor %}
    </div>
</section>
