---
layout: layouts/default
tags: [pages]
title: Maps
date: 2015-03-01
external_url: "https://www.google.com/maps/d/viewer?mid=1GEWKiwKZUeoRHj2ZINUQsYcwpa4&ll=51.67823789423959%2C11.159606999999987&z=6"
---

<section class="maps">
  <iframe
    class="maps__iframe"
    src="https://www.google.com/maps/d/embed?mid=1GEWKiwKZUeoRHj2ZINUQsYcwpa4"
    frameborder="0"
    allowfullscreen
  >
  </iframe>
</section>
